@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    height: auto;
    margin: 0;
    top: 0;
    font-family: 'Roboto Condensed', Helvetica;
    font-size: 1.2em;

    
    /* background-image: url('https://vignette.wikia.nocookie.net/heyarnold/images/5/50/Wiki-background/revision/latest?cb=20170419044450'); */
    background-color: #FFFFFF;
 }

/* button generator and special entities  */
/* still need to fix my css and my classes but for now it will be ok for the mobile check in */
/* NAV BAR  HEADER*/
header {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 2em;
    padding: 1em;
 }

#logo {
    width:45vh;
    border: rgb(170, 0, 0) solid 8px; 
    border-style: ridge;
    margin-top: 5px;
    align-items: center;  
 }

.nav_links {
    padding: 1em;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.nav_links a{
    padding: 1em;
    color: rgb(247, 247, 247);
}

/* .nav_links a:hover{ 
    transition-property:all; 
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
} */


li.link.current a{
    background-color: rgba(255, 0, 0, 0.87);
    color:rgb(255, 255, 255);
    border: 1px solid white;
    text-transform: uppercase;
    padding: 3px;
    font-weight: 300;
}  

/* li.link a:hover {
    background-color: rgba(27, 145, 4, 0.849);
    color:rgb(255, 255, 255); */
    /* text-transform:uppercase;  */
    /* border: 1px solid white;
    padding: 3px;
    font-weight: 300;
}    */



a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -50px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  } 

a.skip:focus {
    top:20px;
    color: black;
    text-decoration-style: solid;
}


/* FOOTER  */
footer {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    color: #FFFFFF;
    line-height: 2em;
}

footer img{
    padding: 5px;
    width:20vh;
    border: rgb(0, 170, 99) dotted 5px; 
    border-style: ridge;

}

.foot_links {
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
}


/* footwe address house emoji \1F3E0
    footer email emoji 	\2709
    phone emoji \260E
*/



/* MAIN IN ALL GAVE CLASS OF CONTAINER */



/* INDEX  */
.container h1 {
    text-align: center;
    /* padding-top: 2vh;
    padding-bottom: 1vh; */
    font-size: 5vh;
    font-weight: bold;
    padding: 2vh 2vh 1vh 2vh;
}

.container p {
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    line-height: 4vh;
    /* padding: 2vh 2vh 1vh 2vh; */
}
.container h2 {
    text-align: center;
    /* padding-top: 2vh;
    padding-bottom: 1vh; */
    font-size: 5vh;
    padding: 2vh 2vh 1vh 2vh;
}



li#eat ::before{
    content: "\1F374";
}
li#bath ::after{
    content: \1F6BD;

}


    /* section p:nth-child(2):before{
    content: \1F6BD;
} */



.family {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.family img{
    border: 10px solid rgba(255, 69, 0, .80);
    height: 50vh;
    margin: 10px;
    width: auto;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}


.button {
    text-align: center;
    border: 2px #ccc solid;
    display: inline-block;
    margin:0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease-in;
}

.button:hover{
    background: cornflowerblue;
}


/* .family */








/* AMENITIES ONLYY BELOW */

.rules {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;


}


.basics {
    display: grid;
    justify-content: center;
}


/* ROOMS CSS TABLE */
h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

p {
    text-align: center;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 50%;
}

thead th {
    background: #1378af;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}

th, td {
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
} 


.form {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
}
ul.rules {
    text-align: center;
}









/* LOCATION CSS */

 #h1location {
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
 }

 .gallery img {
    border: 10px solid #333;
    margin: 10px;
    height: 50vh;
    width: 50vh;
    box-shadow: #1378af 2px;
} 

